{% extends 'sellerheader.html' %}
{% load static %}

{% block content %}
<div class="panel-info widget-shadow">
    <h1 style="color:purple"><b> <center>PRODUCT lIST </center></b></h1>
    <br>
<table class="table">
    <tr>
        <th style="color:red"><b>Product Name</b></th>
        <th style="color:red"><b>Description</b></th>
        <th style="color:red"><b>Price</b></th>
        <th style="color:red"><b>Quantity</b></th>
        <th style="color:red"><b>Discount</b></th>
        <th style="color:red"><b>Image</b></th> 
        <th></th>     
    </tr>
    {% for item in productlist %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.des}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.dis}}</td>
        <td><img src="{{item.pic.url}}" alt="" title="Image of {{item.name}}" height="60" width="60" ></td>
        <td>
            <a href="{% url 'editproduct' item.id %}"> Edit </a> |
            <a href="{% url 'deleteproduct' item.id %}"> Delete </a> 

        </td>
    </tr>
    {% endfor %}
</table>  
</div>
{% endblock %}